


@keyframes color-cycle {
    0% {
      color: green;
    }
    10% {
        color: lightblue;
      }
    20% {
        color: blue;
    }
    30% {
        color: purple;
    }
    40% {
        color: violet;
    }
    50% {
        color: red;
    }
    60% {
        color: orangered;
    }
    70% {
        color: orange;
    }
    80% {
        color: yellow;
    }
    90% {
        color: yellowgreen;
    }
    100% {
        color: green;
    }
}






.button:hover {
    text-indent: .2rem;
    letter-spacing: .2rem;
    color: var(--colorchnge);
    border-radius: 5px;
    box-shadow: 0 0 40px var(--colorchnge);
}

