body {
    display: flex;
    margin: 0;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.button {
    --colorchnge: orange;

    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 10vh;
    width: fit-content;
    color: white;
    background: transparent;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    
}

.button:hover {
    text-indent: .5rem;
    letter-spacing: .5rem;
    color: var(--colorchnge);
    border-radius: 15px;
    box-shadow: 0 0 45px var(--colorchnge);
}

#start-game {
    position:absolute;
    top:40%;
    left:50%;
}

#nav-scores {
    position:absolute;
    top:50%;
    left:50%;
}

#nav-settings {
    position:absolute;
    top:60%;
    left:50%;
}



